{% extends 'blog/base.html' %}
{% block content%}

  <h3>احاديث دينية</h3>

  <div class="container text-center mt-5">
  <div class="Content">

  <button id="en" class="btn btn-info  translate">English</button>
  <button id="ar" class="btn btn-warning translate">العربية</button>

  <ul>
    <li class="lang" key="home">الرئسية</li>
    <li class="lang" key="about">احاديث دينية</li>
    <li class="lang" key="contact">فيديوهات</li>
  </ul>
  <p class="lang" key="desc">This is my description</p>

  <br>
  <!-- <p> -->
  <!-- <h1 id="Head"> Hello World</h1>
  <h2 id="Second"> hi everyone, wish you are ok</h2>
  <button id="Eng" class="btn btn-info">English</button>
  <button id="Ar" class="btn btn-warning">العربية</button>
  </div>
  </div>

  <button id="en" class="translate">English</button>
  <button id="km" class="translate">ខ្មែរ</button>

  <ul>
    <li class="lang" key="home">Home</li>
    <li class="lang" key="about">About Us</li>
    <li class="lang" key="contact">Contact Us</li>
  </ul>
  <p class="lang" key="desc">This is my description</p>

  <br>
  <p> -->

{% endblock content %}
